@import '../../../app/utils.scss';


.container{
    background: #fafafa;
    .content{
        @include container;
        padding: 50px 10px;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        .textContainer{
            flex: 1;
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .heading{
                font-family: $acmeFont;
                font-weight: 500;
                font-size: 36px;
                padding: 40px 0;
                margin-bottom: 35px;
                text-transform: uppercase;
                display: flex;
                position: relative;

                .blueText{
                    color: $darkBlue;
                    margin-left: 50px;
                    padding-left: 50px;
                    display: inline-block;
                    position: absolute;
                    top: 10px;
                }
                
                .orangeText{
                    color: $orange;
                    position: absolute;
                    top: -10px;
                } 
                .line{
                    width: 100px;
                    height: 3px;
                    background: #333;
                    position: absolute;
                    transform: rotate(130deg);
                    top: 23px;
                    left: 36px;
                    border-radius: 10px;
                }  
            }
            
            .description{
                flex: 1;
                font-size: 20px;
                line-height: 180%;
                color: $gray2;
                font-size: 16px;
            }
        }
        .formContainer{
            flex: 1;
            background: #fff;
            padding: 60px 60px;
            box-shadow: 0px 15px 60px -10px #3379b72c;
            border-radius: 10px;
            position: relative;
            

            .formHeading{
                width: fit-content;
                background: linear-gradient(45deg, $orange, $darkOrange);
                background-clip: text;
                color: transparent;
                font-size: 18px;
                font-family: $acmeFont;
                font-weight: 500;
            }

            .formBrief{
                font-size: 36px;
                font-weight: 700;
                color: $gray1;
                margin-top: 10px;
                margin-bottom: 30px;
            }

            .form{
                flex: 1;
                display: flex;
                flex-direction: column;
                > div{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 20px;
                }

                .input{
                    width: 100%;
                    margin-bottom: 15px;
                    padding: 15px 0;
                    border: none;
                    background: transparent;
                    border-bottom: 2px solid #d6d6d6;
                    border-radius: 0;
                    font-size: 15px;
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                .textarea{
                    height: 180px;
                    width: 100%;
                    margin-bottom: 15px;
                    padding: 15px 0;
                    border: none;
                    background: transparent;
                    border-bottom: 2px solid #d6d6d6;
                    border-radius: 0;
                    font-size: 15px;
                    font-family: inherit;
                    outline: none;
                    resize: none;
                }
                .span{
                    display: flex;
                    align-items: center;
                    padding: 0;
                    overflow: hidden;
                    > button{
                        padding: 15px;
                        aspect-ratio: 1/1;
                        background: #d6d6d6;
                        font: inherit;
                        color: #0000003b;
                        font-weight: 400;
                        border-radius: 10px 10px 0 10px;
                        border: 1px solid #d6d6d6;
                    }
                    > input{
                        padding: 15px;
                        margin-bottom: 0;
                    }
                }

                .button{
                    display: inline-block;
                    font-weight: 600;
                    text-transform: capitalize;
                    transition: all 0.35s ease-in-out;
                    overflow: hidden;
                    border-radius: 6px;
                    -webkit-box-shadow: inherit;
                    box-shadow: inherit;
                    font-size: 17px;
                    letter-spacing: 0;
                    position: relative;
                    z-index: 1;
                    color: $white;
                    border: none;
                    width: fit-content;
                    margin: auto;
                    background: $orange;
                    padding: 16px 52px;
                }
                
                .button:hover{
                    background: $darkOrange;
                }
            }            
        }
    }

    @include lg{
        .content{
            gap: 30px;
            .formContainer{
                padding:80px 50px;
            }
        }
    }

    @include md{
        .content{
            flex-direction: column;
        }
    }

    @include xs{
        .content{
            .formContainer{
                padding: 30px;
                .formHeading{
                    font-size: 16px;
                }
                .formBrief{
                    font-size: 30px;
                }

                .form{
                    gap: 15px;
                    > div{
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }
}






