


.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.container{
    padding: 10px 10px;
    padding-top: 30px;
}

.content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.heading{
  font-size: 30px;
  font-family: var(---font-acme);
  font-family: 'Acme', sans-serif;
  font-weight: 500;
  color: var(--color-gray1);
  margin-bottom: 16px;
  text-transform: uppercase;
}


.mySwiper{
  height: 300px;
  padding-bottom: 35px;
}

.swiperSlide{
  background: #fff;
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.review{
  color: var(--color-gray1);
  font-size: 15px;
  line-height: 170%;
  margin-bottom: 20px;
}

.name{
  font-size: 22px;
  font-weight: 400;
  font-family: 'Acme', sans-serif;
}

.role{
  font-size: 14px;
  color: var(--color-gray1);
  font-weight: 500;
}
.role span{
  color: var(--color-orange);
}
