// Mixin

@mixin form(){
    background: none;
    border: none;
    outline: none;
    font: inherit;
}

// 

:root{
    font-family: var(--font-roboto);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit
}

input,
textarea{
    @include form;
}

button{
    @include form;
    cursor: pointer;
}

i{
    color: inherit;
    font-size: inherit;
    &::before{
        color: inherit;
        font-size: inherit;
        font-weight: normal;
    }
}
