@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root{
  --color-sky: #43b8c5;
  --color-blue: #0098b8;
  --color-orange: #ff6600;
  --color-white: #ffffff;
  --black:#000;
  --color-black: #00000080;
  --color-gray: #444444;
  --color-graylight: #cccccc;
  --color-light: #f4f4f4;
  --color-shadow: rgba(0,0,0,.3);

  --font-roboto: 'Roboto', sans-serif;
  --font-acme: 'Acme', sans-serif;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: var(--font-roboto);
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  background: transparent;
  color: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

input{
  font-family: inherit;
  border: none;
  outline: none;
}