// Variables

$orange: #ff6600;
$darkOrange: #e05b02;
$royalBlue: #236cb9;
$darkBlue: #337ab7;
$skyBlue: #43b8c5;
$white: #fff;
$black: #000;
$gray: #333;
$gray1: #444;
$gray2: #4f4f4f;
$lightGray: #ccc;
$light: #eee;

$acmeFont: var(--font-acme);
$firaCodeFont: var(--font-firaCode);
$robotoFont: var(--font-roboto);


// Media query

@mixin xxl{
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin xl{
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin lg{
    @media (max-width: 992px) {
        @content;
    }
}

@mixin md{
    @media (max-width: 768px) {
        @content;
    }
}

@mixin sm{
    @media (max-width: 576px) {
        @content;
    }
}

@mixin xs{
    @media (max-width: 480px) {
        @content;
    }
}


// Mixins
@mixin container{
    width: 100%;
    max-width: 1320px;
    height: inherit;
    padding: 0 15px;
    margin: 0 auto;

    @include xl{
        max-width: 1140px;
    }
    @include lg{
        max-width: 960px;
    }
    @include md{
        max-width: 720px;
    }
    @include sm{
        max-width: 540px;
    }
}

@mixin heading{
    color: $gray1;
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: 500;
    font-family: $acmeFont;
    text-transform: uppercase;
    @include xs{
        font-size: 20px;
    }
}