

.container{
    padding: 30px 10px;
}

.content{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: left;
}

.heading{
    font-size: 36px;
    color: var(--black);
}

.video{
    width: 100%;
    max-width: 880px;
    aspect-ratio: 16/9;
    border-radius: 3px;
    box-shadow: 0 10px 30px var(--color-graylight);
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .container{
        padding: 10px;
    }
    .video{
        max-width: 568px;
    }
}

@media screen and (max-width: 768px) {
    .container{
        padding: 10px;
    }

    .content{
        gap: 0;
    }
    .heading{
        padding: 30px 5px;
        font-size: 26px;
    }
    .video{
        width: 90%;
        max-width: 568px;
    }
}