@import './mixin.scss';

:root{
    font-family: var(--font-roboto);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit
}

input,
textarea{
    background: none;
    border: none;
    outline: none;
    font: inherit;
}

button{
    background: none;
    border: none;
    outline: none;
    font: inherit;
    cursor: pointer;
}

i{
    color: inherit;
    font-size: inherit;
    &::before{
        color: inherit;
        font-size: inherit;
        font-weight: normal;
    }
}

.main-container{
    min-height: 100vh;
}

.backdrop{
    @include backdrop;
}