.container{
    width: 100%;
    height: 580px;
    background: var(--color-light);
    position: relative;
}

.bannerImg{
    width: 100%;
    height: auto;
    max-height: 580px;
}

.contentContainer{
    width: 100%;
    height: inherit;
    padding: 10px;
    position: absolute;
    top: 0;
}

.content{
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.leftContainer{
    height: 100%;
    padding: 50px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box{
    width: 568px;
    background: #00000080;
    backdrop-filter: blur(2px);
    padding: 3rem .75rem;
    border-left: 5px solid var(--color-orange);
}

.box .whiteText{
    color: var(--color-white);
    padding: 10px 0px 0px 16px;
    font-family: 'Acme', sans-serif;
    font-size: 28px;
    font-weight: 400;
}

.box .orangeText{
    color: var(--color-orange);
    padding: 0px 18px;
    margin: 0px 0px 16px;
    font-family: 'Acme', sans-serif;
    font-size: 21px;
    font-weight: 400;
}

.box .serviceCards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.serviceCards .serviceCard{
    list-style: none;
    width: 100%;
    height: 72px;
    background: var(--color-white);
    display: flex;
}

.serviceIcon{
    color: var(--color-orange);
    background: rgb(221, 225, 230);
    width: 72px;
    height: 72px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.serviceText{
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.serviceText h4{
    color: var(--color-orange);
    font-size: 16px;
    font-weight: 400;
}

.serviceText p{
    color: #4F4F4F;
    font-size: 14px;
    font-weight: 400;
}


/* .clientContainer{
    position: absolute;
    bottom: 40px;
} */

.clientHeading{
    color: var(--color-white);
    font-weight: 500;
    font-size: 14px;
}

.clients{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.clientImg{
    width: auto;
    height: 48px;
    background: var(--color-white);
    padding: 10px;
    border-radius: 3px;
    border: 2px solid var(--color-light);
    transition:all .2s linear;
    cursor: pointer;
}

.clientImg:hover{
    scale: 1.1;
}

.formContainer{
    width: 319px;
    height: fit-content;
    background: rgba(0,0,0,.5);
    color: var(--color-light);
    text-align: center;
    border: 1px solid var(--color-graylight);
    border-radius: 3px 3px 0 0;
    box-shadow: 0 0 7px var(--color-graylight);
    position: absolute;
    right: 0;
}

.formHeading{
    padding: 11px 0;
    font-size: 22px;
    letter-spacing: .5;
    font-weight: 400;
}

.formHeading span{
    font-size: 23px;
    font-weight: 700;
}

.formBrief{
    font-size: 14px;
    padding-bottom: 5px;
}

.form{
    width: 100%;
    height: fit-content;
    background: var(--color-white);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 13px;
}

.input{
    padding: 10px 12px;
    width: 100%;
    border: 1px solid var(--color-orange);
    border-radius: 3px;
}

.span{
    display: flex;
    background: var(--color-graylight);
    border: 1px solid var(--color-orange);
    border-radius: 3px;
}
.span:focus-within{
    border-color: var(--color-black);
}

.fileInput{
    color: var(--color-black);
}

.fileInput::-webkit-file-upload-button{
   border-radius: 1px;
   background: rgba(67, 184, 197,.3);
   color: var(--color-blue);
   border: 2px dashed var(--color-blue);
   padding: 3px 10px;
   cursor: pointer;
}

.span button{
    padding: 10px 12px;
}
.span .input{
    border: none;
    border-radius: 0;
    outline: none;
}

.textarea{
    width: 100%;
    padding: 10px 12px;
    border: 1px solid var(--color-orange);
    border-radius: 3px;
    resize: vertical;
}

.button{
    padding: 5px 10px;
    color: var(--color-orange);
    font-size: 22px;
    font-weight: 500;
    border: 1px solid var(--color-orange);
    border-radius: 3px;
}

.button:hover{
    color: var(--color-white);
    background: var(--color-orange);
}

.text{
    color: var(--color-black);
    font-size: 11px;
    text-align: left;
}
.text a{
    color: var(--color-blue);
}

@media screen and (max-width: 1100px) {
    .clientHeading{
        color: var(--color-black);
    }
}

@media screen and (max-width: 768px) {
    
    .container{
        height: fit-content;
        position: static;
        flex-direction: column;
    }

    .contentContainer{
        height: fit-content;
        position: static;
        padding: 0px;
        gap: 10px;
    }
    
    .content{
        padding: 0px;
        display: flex;
        flex-direction: column-reverse;
    }

    .box{
        width: 100%;
    }

    .box .serviceCards{
        grid-template-columns: 1fr;
    }

    .clientContainer{
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .clients{
        padding: 10px;
        flex-wrap: wrap;
        display: flex;
        flex-wrap: wrap;
    }

    .clientImg{
        height: 40px;
    }

    .formContainer{
        width: 100%;
        position: static;
        background: var(--color-blue);
    }
}